@page "/C_Clientes"
@inject ClientesBLL clienteBLL

<EditForm Model="this">
    <div class="card">
        <div class="card-header">
            <h4>Consulta de Clientes</h4>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col">
                    <label>Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="0">Filtrar todo</option>
                        <option value="1">ClienteId</option>
                        <option value="2">Nombres</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group d-flex align-items-end">
                        <label>Buscar</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @bind="Criterio" />
                            <button type="button" class="btn btn-info" @onclick="Buscar">
                                <i class="oi oi-magnifying-glass" /> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover mt-4 table-striped" style="cursor: pointer;">
            <thead class="thead-green">
                <tr class="table-info">
                    <th>ClienteId</th>
                    <th>Nombres</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>RNC</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ClienteId</td>
                        <td>@item.Nombre</td>
                        <td>@item.Direccion</td>
                        <td>@item.Email</td>
                        <td>@item.Telefono</td>
                        <td>@item.Celular </td>
                        <td>@item.RNC</td>
                        <td><a href="R_Clientes/@item.ClienteId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {
    public Clientess cliente { get; set; } = new Clientess();
    public List<Clientess> lista { get; set; } = new List<Clientess>();
    public string? Filtro { get; set; }
    public string? Criterio { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    lista = clienteBLL.GetList(o => true);
                    break;
                case "1":
                    lista = clienteBLL.GetList(o => o.ClienteId.ToString() == (Criterio));
                    break;

                case "2":
                    lista = clienteBLL.GetList(o => o.Nombre.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = clienteBLL.GetList(o => true);
        }
    }
}